.contextBubble { background: none; border: 2px solid #FFFFFF; border-radius: 7px 7px 7px 7px; box-shadow: 0 1px 6px #ACACAC;
    font-weight: normal; outline: 0 none; overflow: visible; padding: 14px 26px 14px 14px; position: absolute; z-index: 102; display: none; margin: 0;
    z-index: 1000;
}

.contextBubbleArrowHack { position: absolute; }
.contextBubbleArrow { height: 35px; width: 25px; position: absolute; }

.contextBubbleClose { position: absolute; right: 6px; top: 6px; width: 20px; height: 20px; cursor: pointer; }
.contextBubbleNext { position: absolute; right: 6px; top: 6px; width: 20px; height: 20px; cursor: pointer; }

.contextBubbleContent { position: relative; height: auto; font-size: 12px; display: none; }
.contextBubbleContentHack { position: fixed; left: -0px; top: 0; display: block; font-size: 12px; height: auto; z-index: 8000; }

#window-fade { display: none; background: #000000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: .20; z-index: 999; }

#helpBubbleCommonT { width: 200px; height: 200px;  }

#helpBubbleCommonClose { position: absolute; right: 6px; top: 6px; width: 20px; height: 20px; }

.contextBubble .contextBubbleContent .title { color: #000000; font-size: 14px; font-weight: bold; padding-bottom: 10px; }
.contextBubble .contextBubbleContent h1 { color: #000000; font-size: 14px; font-weight: bold; padding: 0 0 10px 0; text-indent: 0; border: none; height: auto; }
.contextBubble .contextBubbleContent h2 { color: #000000; font-size: 13px; font-weight: bold; padding: 3px 0 0 0; text-indent: 0; border: none; height: auto; }
.contextBubble .contextBubbleContent a { color: #000000; }
.contextBubble .contextBubbleContent table { color: #000000; padding: 20px; }
.contextBubble .contextBubbleContent table tr { border: 1px solid #6f6f6f; }
.contextBubble .contextBubbleContent table tr td { border: 1px solid #6f6f6f; }
.contextBubble .contextBubbleContent ul { color: #373737; font-size: 12px; }
.contextBubble .contextBubbleContent p { color: #222222; font-size: 12px; font-weight: normal; line-height: 15px; margin: 0 0 6px; }
.contextBubble .contextBubbleContent div.loading { font-size: 12px; color: #222222; vertical-align: middle; }
.contextBubble .contextBubbleContent div.loading img { margin: 0 0 0 10px; }
.contextBubble .contextBubbleContent a.correctError { font-size: 11px; text-decoration: none; color: #cf0707; }
.contextBubble .contextBubbleContent a.correctError:hover { text-decoration: underline; }
.contextBubble .contextBubbleContent a.section { color: #505050; font-size: 11px; display: block; text-decoration: none; cursor: pointer; margin: 0 0 7px 0 ; padding: 7px 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; border: 1px solid #c7c7c7; background-color: #ffffff; }
.contextBubble .contextBubbleContent a.section div.date { font-size: 11px; color: #7d7d7d; }
.contextBubble .contextBubbleContent a.section:hover { background-color: #f9f9f9; }
/*.contextBubble .contextBubbleContent a.section .left { float: left; }
.contextBubble .contextBubbleContent a.section .right { float: right; }*/